{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" />
    <link type="application/rss+xml" rel="alternate" href="{% url 'topics_rss' %}" />
    <link type="application/atom+xml" rel="alternate" href="{% url 'topics_atom' %}" />
</head>
<body>

<div class="container">

<h1 id="header">Latest {{ latest|length }} {{ category }}</h1>

{% for username, title, text, link in latest %}
    <hr />
    <div class="row">
        <h3>[{{ username }}] {{ title }}</h3>
        <p>{{ text|safe }}</p>
        <div style="text-align: right">
            <div class="btn-group">
                <a href="#header" class="btn">Back to top</a>
                <a href="{{ link }}" class="btn">Read more</a>
            </div>
        </div>
    </div>
{% endfor %}

</div>

<br />

<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

</body>
</html>